@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #d3d3d3;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 2%;
    
}

.header .logo {
    cursor: pointer;
}

.header .logo img {
    height: 50px;
    width: auto;
    
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #BA181B;
    text-decoration: none;
}

.header .perfil {
    display: flex;
    align-items: center; 
}

.header .perfil img {
    height: 80px;
    width: auto;
}
