@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

h2 {
    font-size: 24px; 
    margin: 40px;
    margin-left: 300px;
    color: #BA181B; /* Cambia este color según tus necesidades */
}



body {
    background-color: #f5f1f1e3;
    font-family: 'Nunito', sans-serif;
}

.header {
    background-color: #BA181B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 10px 2%;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    position: relative; 
}

.header .nav-links li a {
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header .nav-links .submenu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    z-index: 1000;
}

.header .nav-links .submenu li {
    padding: 10px;
}

.header .nav-links .submenu li a {
    color: #333;
    text-decoration: none;
}

.header .nav-links .submenu li a:hover {
    background-color: #f1f1f1;
}

.header .nav-links li:hover .submenu {
    display: block;
}

.header .perfil {
    display: flex;
    align-items: center;
}

.header .perfil img {
    height: 80px;
    width: auto;
}

.main-content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 50px; 
    width: 100%; 
    height: 100vh; /* Asegura que el contenido ocupe toda la altura de la pantalla */
}

.form-agregar-hospital {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px; 
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 700px; /* Ajusta el ancho aquí */
    margin: 30px auto; 
    display: flex; 
    flex-direction: column;
    align-items: center; /* Alinea todos los elementos dentro del formulario */
    justify-content: center; /* Centra los elementos verticalmente dentro del formulario */
}

.form-header {
    display: flex; 
    flex-direction: row-reverse; 
    align-items: flex-start; 
    gap: 20px; 
}

.form-fields {
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    align-items: center; /* Centra todos los campos dentro de la columna */
    width: 100%; /* Asegura que ocupe el ancho completo disponible */
}

.input-group {  
    width: 100%; /* Hace que el grupo de entrada ocupe todo el espacio disponible */
    max-width: 400px; /* Limita el ancho máximo de los campos */
}

label {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
    display: block; 
}

input[type="text"],
select,
input[type="file"] {
    width: 350px; 
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 10px;
}

select {
    width: 100%; /* Asegura que el select ocupe el 100% del ancho disponible */
}

input[type="text"]:focus,
select:focus,
input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
}

button.btn-submit {
    background-color: #d50000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%; /* Asegura que el botón ocupe todo el ancho disponible */
    transition: background-color 0.3s ease;
    margin: 0 auto; 
    display: block;
}

button.btn-submit:hover {
    background-color: #BA181B;
}
