@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');



*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Nunito', sans-serif;
    font-size: 20px;
}


body 
{  
    background-color: #fff;
    margin: 0;
    padding: 0;
    height: auto;
    background-image: url(../img/111.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;    
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 2%;
}

.logo
{
    display: flex;
}

.logo img
{
    height: 50px;
}

.form-login
{
    width: 700px;
    margin: 100px;
    margin-top: 80px;
    border-radius: 10px;
    font-size: 45px;


}

.form-login h5
{
    margin: 0;
    height: 40px;
    margin-bottom: 40px;
    font-size: 45px;

}

.controls
{
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding: 15px 18px;
    border-radius: 20px;
    font-size: 20px;
}

.buttons {
    display: inline-block;
    width: 100%;
    height: 55px;
    background-color: #ba181b;
    border: none;
    margin-bottom: 16px;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    line-height: 50px; 
    text-decoration: none; 
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.buttons:hover {
    background-color: #a31616;
    transform: scale(1.05);
}

.buttons:active {
    transform: scale(0.95);
}



.flashes {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px; 
}

.flashes .error {
    background-color: #f8d7da;
    color: #721c24;
    padding: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 18px; 
    text-align: center; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
