@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #FFFFFF;;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 2%;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    position: relative; 
}

.header .nav-links li a {
    font-weight: 700;
    color: #BA181B;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header .nav-links .submenu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    z-index: 1000;
}

.header .nav-links .submenu li {
    padding: 10px;
}

.header .nav-links .submenu li a {
    color: #333;
    text-decoration: none;
}

.header .nav-links .submenu li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar submenú al pasar el ratón */
.header .nav-links li:hover .submenu {
    display: block;
}


.header .perfil {
    display: flex;
    align-items: center;
}

.header .perfil img {
    height: 80px;
    width: auto;
}


.sidebar {
    width: 400px;
    height: calc(100vh - 85px); /* Altura completa menos la altura del navbar */
    background-color: #FFFFFF;;
    position: fixed;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container img {
    width: 400px;
    height: auto;
    margin-left: 250px;
}



.donante-btn {
    display:flex;
    justify-content: space-between;
    background-color: #fff;
    color: #333;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    align-items: center;
}
.welcome {
    padding: 2rem;
    text-align: center;
}

.welcome h2 {
    color: #b30000;
    font-size:3rem;
    margin-bottom: 1.5rem;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.image-container img {
    border-radius: 50%;
    object-fit: cover;
    width: 400px;
    height: auto;
    max-width: 600px;
    max-height: 600px;
}

.info-cards {
    background-color: #fff;
    display: flex;
    gap: 1rem;
}

.card {
    background-color: #b30000;
    color: #fff;
    padding: 1rem;
    border-radius: 8px;
    width: 600px;
    height: auto;
    text-align: left;
    max-width: 600px;
    max-height: 600px;
}

.card h3 {
    font-size: 2.7rem;
    margin-bottom: 0.5rem;
    text-align: left;
}

.card p {
    font-size: 1.8rem;
    line-height: 1.4;
    text-align: left;
}
.card p {
    font-size: 1.8rem;
    line-height: 1.4;
}
