@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #BA181B;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Header */
.header {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 70px;
    width: 100%;
    padding: 0 2%;
}

.header .logo img {
    height: 50px;
    width: auto;
}

/* Form Container */
.registro-container {
    background-color: #fff;
    padding: 30px; /* Relleno ajustado */
    border-radius: 10px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.15);
    width: 400px; /* Ancho reducido */
    max-width: 90%;
    margin: 40px 2%;
}

/* Form Title */
h2 {
    text-align: center;
    color: #333;
    margin-bottom: 25px;
    font-size: 24px; /* Tamaño de fuente ajustado */
    font-weight: 800;
}

/* Label Styles */
label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    color: #666;
    font-size: 15px;
}

/* Input Fields */
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
    width: 100%;
    padding: 10px; /* Relleno ajustado */
    margin-bottom: 15px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px; /* Tamaño de fuente ajustado */
    transition: border-color 0.3s, background-color 0.3s;
}

/* Focus Effect */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="password"]:focus,
select:focus {
    border-color: #BA181B;
    outline: none;
    background-color: #fdf2f3;
}

/* Register Button */
button {
    width: 100%;
    padding: 12px; /* Relleno ajustado */
    background-color: #BA181B;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px; /* Tamaño de fuente ajustado */
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

/* Hover Effect on Button */
button:hover {
    background-color: #a11619;
    transform: translateY(-3px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

/* Link for Account Creation */
.form-login p {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #fff;
}

.form-login p a {
    color: #FFE1E1;
    font-weight: 600;
    text-decoration: underline;
    transition: color 0.3s;
}

.form-login p a:hover {
    color: #ffdada;
}
