body {
  
}

.main-content {
    
}

h1 {
    text-align: center; /* Centrado del título */
    color: #333; /* Color oscuro para el título */
    margin-bottom: 50px; /* Margen inferior */
}

.container {
    
}

.campañas {
   
}

.campañas:hover {
    
}

.contenido h3 {
    
}

.contenido p {
    
}
