@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-image:url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 2%;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    position: relative; 
}

.header .nav-links li a {
    font-weight: 700;
    color: #BA181B;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header .nav-links .submenu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    z-index: 1000;
}

.header .nav-links .submenu li {
    padding: 10px;
}

.header .nav-links .submenu li a {
    color: #333;
    text-decoration: none;
}

.header .nav-links .submenu li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar submenú al pasar el ratón */
.header .nav-links li:hover .submenu {
    display: block;
}


.header .perfil {
    display: flex;
    align-items: center;
}

.header .perfil img {
    height: 80px;
    width: auto;
}

.sidebar {
    width: 500px;
    height: calc(100vh - 85px); /* Altura completa menos la altura del navbar */
    background-color: #FFFFFF;
    position: fixed;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container img {
    width: 500px;
    height: 450px;
    margin-left: 200px;
    border-radius: 5%;

}



.header{
    padding:20px;
    border-bottom: 1px solid #666;
    background-color: #fff !important;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px 10px;
    margin: 0;
    padding:0;
}
.navbar .logo{
    width: 19vw;
    object-fit: cover;
    overflow: hidden;
    
}
.navbar .admin{
    display: flex;
    color:#333 !important;
    justify-self: space-evenly;
    align-self:auto;
    width: 50px;
    height: 50px;
    object-fit: contain;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin:0;
    padding:0;
}
.nav-links li{
    padding: 10px;
    margin-left: 20px;
    flex-grow: 1;
    text-align: center;
}
.nav-links a{
    display: flex;
    color:#dd2222;
    text-decoration: none;
    font-size: 1.6em;
    font-weight: 500;
    padding: 20px 20 px auto;
    white-space: nowrap;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.container{
    display: block;
    background-color: #fff;
    color: #333;
    width: 50vw;
    height: 100%;
    text-align: center;
    margin:0;
    margin-left: auto;    
    padding: 20px 20px;
    border-radius: 0 10px;
}
.titulo{
    display: flex;
    background-color: #fff;
    color: #333;
    width: 50%;
    height:100%;
    text-align:center;
    border-radius: 3px;
    font-style:sans-serif;
}
.caja{
    flex: 1;
    background-color: #ccc;
    border-radius: 10px;
    height: 100%;
    padding:2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.fila{
    flex:1;
    font-style: sans-serif;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 1rem;   
}
.columna{
    flex: 1;
}
.barra{
    flex: 2;
    background: #fff;
    border-radius: 6px;
    height: 20px;
    overflow: hidden;
}
.progreso{
    height: 100%;
    background: #dd2222;
    border-radius: 6px;
}
.fecha{
    flex: 1;
    padding: 1px;
    margin: auto;
}
.porcentaje{
    flex: 1;
}
.alerta{
    color: #333;
    background: #dd2222;
    border-radius: 5px;
}
.crear{         /*Boton*/
    background-color: #dd2222;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    width: 40%;
    margin-top: 2rem;
    transition: background-color 0.2s;
}


