@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #FFFFFF;
}

.header {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 10px 2%;
}

.header .logo img {
    height: 50px;
    width: auto;
}

.header .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header .nav-links li {
    position: relative; 
}

.header .nav-links li a {
    font-weight: 700;
    color: #BA181B;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.header .nav-links .submenu {
    display: none; 
    position: absolute; 
    top: 100%; 
    left: 0;
    background-color: #ffffff;
    padding: 5px 0;
    list-style: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    min-width: 100px;
    z-index: 1000;
}

.header .nav-links .submenu li {
    padding: 10px;
}

.header .nav-links .submenu li a {
    color: #333;
    text-decoration: none;
}

.header .nav-links .submenu li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar submenú al pasar el ratón */
.header .nav-links li:hover .submenu {
    display: block;
}


.header .perfil {
    display: flex;
    align-items: center;
}

.header .perfil img {
    height: 80px;
    width: auto;
}

.sidebar {
    width: 500px;
    height: calc(100vh - 85px); /* Altura completa menos la altura del navbar */
    background-color: #FFFFFF;
    position: fixed;
    top: 85px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image-container img {
    width: 500px;
    height: 450px;
    margin-left: 200px;
    border-radius: 5%;

}

/* Contenido principal */
.main-content{
    margin-left: 750px;
    margin-top: 100px;
}

.main-content h1{
    
    color: #BA181B;
    margin-top: 50px;
    font-size: 30px;
}

.main-content h2{
    
    color: #BA181B;
    
}

.main-content p{
    color: #000;
      
}

.button-container {
    display: flex;
    width: 100%;
    justify-content: flex-end; /* Alinea el botón a la derecha */
    padding-right: 230px;
    padding-top: 40px; /* Ajusta el margen derecho según sea necesario */
}

.buttons {
    display: flex;
    width: 300px;
    height: 50px;
    background-color: #ba181b !important;
    border: none;
    border-radius: 15px;
    color: #fff !important;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}



.buttons:hover {
    background-color: #a91616; 
    transform: scale(1.05); 
}


.buttons:hover {
    background-color: #a31616;
    transform: scale(1.05);
}

.buttons:active {
    transform: scale(0.95);
}
