{% extends "base.html" %}

{% block title %}Agregar hospital{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/CatalogoHospitales.css') }}">

{% endblock %}

{% block content %}
<div class="form-agregar-hospital">
    <form action ="{{ url_for("agregar_hospital") }}" method="POST">
        <div class="form-group">
                <label for="nombre">Nombre del hospital:</label>
                <input type="text" id="nombre" name="nombre" placeholder="" required>

                <label for="nombre">Direccion:</label>
                <input type="text" id="direccion" name="direccion" placeholder="" required>

                <label for="nombre">Contacto:</label>
                <input type="text" id="contacto" name="contacto" placeholder="" required>

                <label for="nombre">Horario de atencion:</label>
                <input type="text" id="horario" name="horario" placeholder="" required>

                <select id="estado" name="estado" required>
                    <option value="habilitado">Habilitado</option>
                    <option value="deshabilitado">Deshabilitado</option>
                    
                </select>

                <button type="submit" class="btn-submit">Agregar Hospital</button>
            </form>
        </div>
    </div>
</div>



{% endblock %}
