<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AgregarSolicitudes.css') }}">
    <title>Realizar Solicitud de Sangre</title>
</head>

<body>
   <!-- Navbar -->
   <header class="header">
      <div class="logo">
         <img src="{{ url_for('static', filename='img/BancoSangre.jpeg') }}" alt="logo del sistema">
      </div>
      <nav>
         <ul class="nav-links">
            <li><a href="#"> Gestión de solicitudes</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('agregar_solicitud') }}">Realizar una solicitud</a></li>
                    <li><a href="{{ url_for('eliminar_solicitud') }}">Cancelar una solicitud</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('solicitud') }}">Mis solicitudes</a></li>
         </ul>
      </nav>
      <div class="perfil">
         <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil administrador">
         <p>solicitante</p>
      </div>
   </header>

   <!-- Contenido de la solicitud -->
   <div class="solicitud-container">
      <h2>Solicitud de Sangre</h2>
      <form id="solicitudForm" method="POST" action="/agregar_solicitud">
         <label for="tipo_sangre">Tipo de Sangre Requerida</label>
         <select id="tipo_sangre" name="tipo_sangre" required>
            <option value="O+">O+</option>
            <option value="A+">A+</option>
            <option value="B+">B+</option>
            <option value="AB+">AB+</option>
            <option value="O-">O-</option>
            <option value="A-">A-</option>
            <option value="B-">B-</option>
            <option value="AB-">AB-</option>
         </select>

         <label for="cantidad_sangre">Cantidad de Sangre Requerida (en litros)</label>
         <input type="number" id="cantidad_sangre" name="cantidad_sangre" step="0.1" required>

         <label for="numero_contacto">Número de Contacto</label>
         <input type="tel" id="numero_contacto" name="numero_contacto">

         <label for="fecha_solicitud">Fecha de Solicitud</label>
         <input type="date" id="fecha_solicitud" name="fecha_solicitud" required>

         <label for="hora_solicitud">Hora de Solicitud</label>
         <input type="time" id="hora_solicitud" name="hora_solicitud" required>

         <label for="direccion">Dirección de Entrega</label>
         <input type="text" id="direccion" name="direccion">

         <label for="informacion_adicional">Información Adicional</label>
         <textarea id="informacion_adicional" name="informacion_adicional"></textarea>

         <button type="submit">Realizar Solicitud</button>
      </form>
   </div>
</body>
</html>
