    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body>
    <header class="header">
        <div class="logo">
            <a href="{{ url_for('menu_admin') }}"><img src="{{ url_for('static', filename='img/BancoSangre.jpeg') }}" alt="Logo del sistema"></a>
        </div>

        <nav>
            <ul class="nav-links">
                <li><a href="#">Mis hospitales</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('catalogo_hospitales') }}">Ver hospitales</a></li>
                        <li><a href="{{ url_for('gestionar_hospitales') }}">Gestión de hospitales</a></li>
                    </ul>
                </li>
                <li><a href="#">Mis campañas</a>
                    <ul class="submenu">
                        <li><a href="{{ url_for('ver_campañas') }}">Ver campañas</a></li>
                        <li><a href="{{ url_for('gestionar_campañas') }}">Gestionar campañas</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('solicitud_admin') }}">Solicitudes</a></li>
            </ul>
        </nav>

        <div class="perfil">
            <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil administrador">
            <p>administrador</p>
        </div>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>
    </body>
    </html>
