{% extends 'base.html' %}

{% block title %}Catálogo de Hospitales{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/CatalogoHospitales.css') }}">

{% endblock %}

{% block content %}




 <!-- TODO LO DE LAS TARGETAS DE LOS HOSPITALES -->
 <div class="container">
        {% if hospitales %}
            {% for hospital in hospitales %}
            <div class="card">
                <a href="{{ url_for('ver_hospital2', hospital_id = hospital.id) }}">
                    <figure>
                        <img src="{{ url_for('static', filename='img/Hospital1.jpg') }}">
                    </figure>
                    <div class="contenido">
                        <h3>{{ hospital.Nombre }}</h3>
                        <p>{{ hospital.Direccion }}</p>
                        <p>{{ hospital.Contacto }}</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        {% endif %}

    

        <div class="card">
            <a href="{{ url_for('ver_hospital') }}"><!-- Cambia "verHospital.html" a la ruta correcta -->
                <figure>
                    <img src="{{ url_for('static', filename='img/Hospital2.jpg') }}" alt="Clínica Medellín Sede Occidente">
                </figure>
                <div class="contenido">
                    <h3>Clínica Medellín Sede Occidente</h3>
                    <p>
                       Cra. 65B #30-95
                    </p>
                    <p>              
                        Medellín, Belén
                    </p>
                </div>
            </a>
        </div>
        

        <div class="card">
            
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital3.jpg') }}" >
            </figure>
            <div class="contenido">
                <h3>Clínica Las Américas Auna</h3>
                <p>
                   Cra. 75B #2A-80 
                </p>
                <p>              
                    MedellÍn, Belén
                </p>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital4.jpg') }}" >
            </figure>
            <div class="contenido">
                <h3>Hospital Pablo Tobón Uribe</h3>
                <p>
                   Cra. 75B #69-240 
                </p>
                <p>              
                    Medellin
                </p>
            </div>
        </div>








   </div>

{% endblock %}
    













</body>
</html>