{% extends 'base.html' %}

{% block title %}Catálogo de Hospitales{% endblock %}

{% block content %}

 <!-- TODO LO DE LAS TARGETAS DE LOS HOSPITALES -->
   <div class="container">
        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital1.jpg') }}" >
            </figure>
            <div class="contenido">
                <h3>Hospital General de Medellín</h3>
                <p>
                   Cra. 48 #32-102 
                </p>
                <p>              
                   La Candelaria, Medellin
                </p>
            </div>
        </div>

        <div class="card">
            <a href="{{ url_for('ver_hospital') }}"><!-- Cambia "verHospital.html" a la ruta correcta -->
                <figure>
                    <img src="{{ url_for('static', filename='img/Hospital2.jpg') }}" alt="Clínica Medellín Sede Occidente">
                </figure>
                <div class="contenido">
                    <h3>Clínica Medellín Sede Occidente</h3>
                    <p>
                       Cra. 65B #30-95
                    </p>
                    <p>              
                        Medellín, Belén
                    </p>
                </div>
            </a>
        </div>
        

        <div class="card">
            
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital3.jpg') }}" >
            </figure>
            <div class="contenido">
                <h3>Clínica Las Américas Auna</h3>
                <p>
                   Cra. 75B #2A-80 
                </p>
                <p>              
                    MedellÍn, Belén
                </p>
            </div>
        </div>

        <div class="card">
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital4.jpg') }}" >
            </figure>
            <div class="contenido">
                <h3>Hospital Pablo Tobón Uribe</h3>
                <p>
                   Cra. 75B #69-240 
                </p>
                <p>              
                    Medellin
                </p>
            </div>
        </div>








   </div>

{% endblock %}
    













</body>
</html>