<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disponibilidad de sangre</title>
    <link rel="stylesheet" href="ESTILO2.CSS">
</head>
<body>
    <!--cabecera y barra de navegacion-->
    <header class="header">
            <nav class="navbar">
                
                <ul class="nav-links">
                    <li><div class="logo"><img class="logo" alt="logotipo" src="BancoSangre.jpeg"></div></li>
                    <li><a href="VerHospital.html">Mis hospitales</a></li>
                    <li><a href="VerCampañas.html">Mis campañas <h4 style="color:#333">&#94;</h4></a></li>
                    <li><a href="#">Solicitudes</a><li>
                    <li class="admin"><a href="#">Administrador</a>
                        <div class="admin"><img class="admin" alt="user" src="perfil.png"></div>
                    </li>
                </ul>
                
            </nav>
    </header>
    
    <section class="container">     <!--Contenedor de disponibilidad-->
        <h2 class="titulo">Disponibilidad de sangre</h2>
        <div class="caja">          <!--Contenedor secundario-->
        <div class="fila">          <!--Filas dentro del contenedor-->
            <span class="columna">A+</span>
            <span class="barra">       <!--Barras de progreso-->
                <div class="progreso" style="width:80%"></div>
            </span>
            <span class="porcentaje">80%</span>
            <span class="fecha">12/10/2024</span>
        </div>
        <div class="fila">
            <span class="columna">O+</span>
            <span class="barra">
                <div class="progreso" style="width:60%"></div>
            </span>
            <span class="porcentaje">60%</span>
            <span class="fecha">11/10/2024</span>
        </div>
        <div class="fila">
            <span class="columna">B-</span>
            <span class="barra">
                <div class="progreso" style="width:75%"></div>
            </span>
            <span class="porcentaje">75%</span>
            <span class="fecha">20/12/2025</span>
        </div>
        <div class="fila">
            <span class="columna">AB+</span>
            <span class="barra">
                <div class="progreso" style="width:25%"></div>
            </span>
            <span class="porcentaje">25%</span>
            <span class="fecha">10/10/2024<span class="alerta">&#9888;</span></span>
            
        </div>
        <div class="fila">
            <span class="columna">A-</span>
            <span class="barra">
                <div class="progreso" style="width:98%"></div>
            </span>
            <span class="porcentaje">98%</span>
            <span class="fecha">6/3/2026</span>
        </div>
        <div class="fila">
            <span class="columna">O-</span>
            <span class="barra">
                <div class="progreso" style="width:75%"></div>
            </span>
            <span class="porcentaje">75%</span>
            <span class="fecha">31/10/2024</span>
        </div>
        <div class="fila">
            <span class="columna">B-</span>
            <span class="barra">
                <div class="progreso" style="width:85%"></div>
            </span>
            <span class="porcentaje">85%</span>
            <span class="fecha">10/5/2024</span>
        </div>
        <div class="fila">
            <span class="columna">AB-</span>
            <span class="barra">
                <div class="progreso" style="width:45%"></div>
            </span>
            <span class="porcentaje">45%</span>
            <span class="fecha">1/12/2026</span>
        </div>
        <button class="crear">Crear campaña de sangre</button>
        </div>
    </section>
</body>
</html>