{% extends 'base.html' %}

{% block title %}Editar Hospital{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/EditarHospital.css') }}">
{% endblock %}


{% block content %}
<div class="container">
    <h2>Editar Hospital</h2>
    <form method="POST">
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" name="nombre" value="{{ hospital['Nombre'] }}" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección</label>
            <input type="text" class="form-control" id="direccion" name="direccion" value="{{ hospital['Direccion'] }}" required>
        </div>
        <div class="form-group">
            <label for="contacto">Contacto</label>
            <input type="text" class="form-control" id="contacto" name="contacto" value="{{ hospital['Contacto'] }}" required>
        </div>
        <div class="form-group">
            <label for="horario">Horario</label>
            <input type="text" class="form-control" id="horario" name="horario" value="{{ hospital['Horario'] }}" required>
        </div>
        <div class="form-group">
            <label for="estado">Estado</label>
            <input type="text" class="form-control" id="estado" name="estado" value="{{ hospital['Estado'] }}" required>
        </div>
        <button type="submit" class="btn_guardar">Guardar Cambios</button>
    </form>
</div>
{% endblock %}