{% extends "base.html" %}

{% block title %}Eliminar campaña{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/EliminarHospital.css') }}">
{% endblock %}

{% block content %}
<div class="form-eliminar-hospital">
    <form action="{{ url_for('eliminar_campañas', id=campaña[0]) }}" method="post">
        <div class="form-header">

            <div class="form-fields">
                <div class="input-group">
                    <label for="nombre">¿Está seguro de que desea eliminar la campaña?:</label>
                </div>

                <button type="submit" class="btn-submit">Sí</button>
                <a href="{{ url_for('ver_campañas') }}" class="btn-cancel">No</a>

            </div>
        </div>

        
    </form>
</div>
{% endblock %}