{% extends 'base.html' %}

{% block title %}Gestión de Campañas{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/GestionarCampañas.css') }}">

{% endblock %}

{% block content %}

 
   
<div class="main-content">
    <h1>Campañas Activas</h1>
    <div class="container">
        {% for campaña in campañas %}
                
                <div class="card"> 
                    <div class="contenido">
                        <a href="{{ url_for('ver_campañas', id=campaña[0]) }}">
                            <figure>
                                <img src="{{ url_for('static', filename='img/campaña.jpg') }}" alt="{{ campaña.nombre }}">
                            </figure>
                            <div class="contenido">
                                <h3 class="rojo">{{ campaña[2] }}</h3>
                                <p class="negro"><strong>Fecha:</strong> {{ campaña[6] }}</p>
                                <p class="negro"><strong>Hora:</strong> {{ campaña[8] }}</p>
                                <p class="negro"><strong>Lugar:</strong> {{ campaña[7] }}</p>
                                <p class="negro"><strong>Donantes:</strong> {{ campaña[8] }}/{{ campaña[3] }}</p>
                                <br>
                                <p class="negro"><em>{{ campaña[1] }}</em></p>
                            </div>
                        </a>
                    </div>
                    <a href="{{ url_for('eliminar_campañas') }}" class="btn-delete-campaña">
                        ❌
                    </a>
                    <a href="{{ url_for('editar_campañas')}}"  class="btn-edit-campaña">
                        ✏️
                    </a>
                </div>
                
                {% endfor %}
                <a href="{{ url_for('agregar_campaña') }}" class="btn-add-campaña">
                    +
                </a>
            </div>
    </div>


</div>




{% endblock %}
