{% extends 'base.html' %}

{% block title %}Gestión de Hospitales{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/CatalogoHospitales.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    {% for hospital in hospitales %}
    <div class="card">
        <a href="{{ url_for('ver_hospital', hospital_id=hospital.id) }}">
            <figure>
                <img src="{{ url_for('static', filename='img/Hospital1.jpg') }}" alt="Imagen del hospital">
            </figure>
            <div class="contenido">
                <h3>{{ hospital.Nombre }}</h3>
                <p>{{ hospital.Direccion }}</p>
                <p>{{ hospital.Contacto }}</p>
            </div>
        </a>
        <a href="{{ url_for('editar_hospital', hospital_id=hospital.id) }}" class="btn-edit-hospital">✏️</a>
        <a href="{{ url_for('eliminar_hospital', hospital_id=hospital.id) }}" class="btn-delete-hospital">❌</a>
    </div>
    {% endfor %}
    <a href="{{ url_for('agregar_hospital') }}" class="btn-add-hospital">+</a>
</div>
{% endblock %}
