<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MenuAdmi.css') }}">
</head>
<body>
   <header class="header">
    <div class="logo">
       <img src="{{ url_for('static', filename='img/BancoSangre.jpeg') }}" alt="logo del sistema" >
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Mis hospitales</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('catalogo_hospitales') }}">Ver hospitales</a></li>
                    <li><a href="{{ url_for('gestionar_hospitales') }}">Gestión de hospitales</a></li>
                </ul>
            </li>

            <li><a href="#">Mis campañas</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('ver_campañas') }}">Ver campañas</a></li>
                    <li><a href="{{ url_for('gestionar_campañas') }}">Gestionar campañas</a></li>
                </ul>
            </li>
            <li><a href="#">Solicitudes</a></li>
        </ul>
    </nav>
    <div class="perfil">
        <img src="{{ url_for('static', filename='img/perfil.png') }}"alt="perfil administrador" >
        <p>administrador</p>
       
     </div>
   </header>



   

   <div class="sidebar">
    <div class="image-container">
        <img src="{{ url_for('static', filename='img/medico.png') }}" alt="Imagen del perfil">
    </div>
   </div>




   <div class="main-content">
    <h1>BIENVENIDO A TU PÁGINA DE ADMINISTRADOR</h1> <br>
    
    <!-- Video sobre la donación -->
    <video controls width="600" height="400">
        <source src="video/" type="video/mp4">
        Tu navegador no soporta la etiqueta de video.
    </video>
   </div>
</body>
</html>