<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página principal administrador</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/MenuSolicitante.css') }}">
</head>
<body>
   <header class="header">  
    <div class="logo">
       <img src="{{ url_for('static', filename='img/BancoSangre.jpeg') }}" alt="logo del sistema" >
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#"> Gestión de solicitudes</a>
                <ul class="submenu">
                    <li><a href="{{ url_for('agregar_solicitud') }}">Realizar una solicitud</a></li>
                    <li><a href="{{ url_for('eliminar_solicitud') }}">Cancelar una solicitud</a></li>
                </ul>
            </li>
            <li><a href="{{ url_for('solicitud') }}">Mis solicitudes</a></li>
        </ul>
    </nav>
    <div class="perfil">
        <img src="{{ url_for('static', filename='img/perfil.png') }}" alt="perfil administrador" >
        <p>solicitante</p>
    </div>
   </header>


   <div class="main-content">
    <h1>Conozca algunos datos curiosos sobre la donación de sangre:</h1> 
    
    
    <!-- Datos curiosos sobre la donación -->
    <div class="donation-facts">
        <div class="fact">
            <img src="{{ url_for('static', filename='img/dato1.png') }}" alt="Curiosidad 1">
            <h3>Un solo donante puede salvar hasta tres vidas</h3>
            <p>Donar sangre puede ayudar a salvar varias vidas, ya que una donación puede ser dividida en tres componentes diferentes.</p>
        </div>
        <div class="fact">
            <img src="{{ url_for('static', filename='img/dato2.png') }}" alt="Curiosidad 2">
            <h3>La sangre no se puede fabricar</h3>
            <p>La sangre es vital para la supervivencia y no puede ser sintetizada, por lo que las donaciones son esenciales.</p>
        </div>
        <div class="fact">
            <img src="{{ url_for('static', filename='img/dato3.png') }}" alt="Curiosidad 3">
            <h3>Una donación de sangre solo toma 10 minutos</h3>
            <p>Aunque el proceso total puede durar unos 45 minutos, la donación efectiva de sangre solo toma alrededor de 10 minutos.</p>
        </div>
        <div class="fact">
            <img src="{{ url_for('static', filename='img/dato4.png') }}" alt="Curiosidad 3">
            <h3>Una donación de sangre solo toma 10 minutos</h3>
            <p>Aunque el proceso total puede durar unos 45 minutos, la donación efectiva de sangre solo toma alrededor de 10 minutos.</p>
        </div>
    </div>
   </div>

</body>
</html>
