{% extends "base.html" %}

{% block title %}Ver Campañas{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vercampanas.css') }}">

{% endblock %}

{% block content %}


<div class="main-content">
    <h1>Campañas Activas</h1>
    <div class="container">
        {% for campaña in campañas_activas %}
        <div class="campañas">
            <div class="contenido">
                <a href="{{ url_for('ver_campañas', id=campaña[0]) }}">
                    <figure>
                        <img src="{{ url_for('static', filename='img/campaña.jpg') }}" alt="{{ campaña.nombre }}">
                    </figure>
                    <div class="contenido">
                        <h3 class="rojo">{{ campaña[2] }}</h3>
                        <p class="negro"><strong>Fecha:</strong> {{ campaña[6] }}</p>
                        <p class="negro"><strong>Hora:</strong> {{ campaña[8] }}</p>
                        <p class="negro"><strong>Lugar:</strong> {{ campaña[7] }}</p>
                        <p class="negro"><strong>Donantes:</strong> {{ campaña[8] }}/{{ campaña[3] }}</p>
                        <br>
                        <p class="negro"><em>{{ campaña[1] }}</em></p>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>

    <h1> Campañas Realizadas</h1>

    <div class="container2">
            {% for campaña in campañasRealizadas %}
            <div class="campañas">
                <div class="contenido">
                    <a href="{{ url_for('ver_campañas', id=campaña[0]) }}">
                        <figure>
                            <img src="{{ url_for('static', filename='img/campaña.jpg') }}" alt="{{ campaña.nombre }}">
                        </figure>
                        <div class="contenido">
                            <h3 class="rojo">{{ campaña[2] }}</h3>
                            <p class="negro"><strong>Fecha:</strong> {{ campaña[6] }}</p>
                            <p class="negro"><strong>Hora:</strong> {{ campaña[8] }}</p>
                            <p class="negro"><strong>Lugar:</strong> {{ campaña[7] }}</p>
                            <p class="negro"><strong>Donantes:</strong> {{ campaña[8] }}/{{ campaña[3] }}</p>
                            <br>
                            <p class="negro"><em>{{ campaña[1] }}</em></p>
                        </div>
                    </a>
                </div>
            </div>
            {% endfor %}
</div>




{% endblock %}