{% extends "base.html" %}

{% block title %}Ver Campañas{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vercampanas.css') }}">

{% endblock %}

{% block content %}

<div class="container">
    <h1> Campañas Activas</h1>
    <div class="campañas">
        <div class="contenido">
            <h3>Prospera vida</h3>
            <p>
                <span class="rojo">fecha:</span> <span class="negro">22 de Octubre</span>
            </p>
            <p>
                <span class="rojo">hora:</span> <span class="negro">8:30 am / 2:30 pm</span>
            </p>
            <p>
                <span class="rojo">lugar:</span> <span class="negro">hospital del carmen</span>
            </p>
            <p>
                <span class="rojo">donantes:</span> <span class="negro">0/45</span>
            </p>
            <br>
            <p>
                <span class="negro">Lo que a ti te sobra a mi me falta</span>
            </p>
        </div>
    </div>

        <div class="campañas">
            <div class="contenido">
            <h3>Prospera vida</h3>
            <p>
                <span class="rojo">fecha:</span> <span class="negro">22 de Octubre</span>
            </p>
            <p>
                <span class="rojo">hora:</span> <span class="negro">8:30 am / 2:30 pm</span>
            </p>
            <p>
                <span class="rojo">lugar:</span> <span class="negro">hospital del carmen</span>
            </p>
            <p>
                <span class="rojo">donantes:</span> <span class="negro">0/45</span>
            </p>
            <br>
            <p>
                <span class="negro">Lo que a ti te sobra a mi me falta</span>
            </p>
            </div>
        </div>

        <div class="campañas">
            <div class="contenido">
                <h3>Las ganas de ayudar</h3>
                <p>
                   fecha:
                </p>
                <p>              
                   hora:
                </p>
                <p>              
                    lugar:
                </p>
                <p>              
                    donantes:
                </p>
                <br>
                <p>              
                    frase
                </p>
            </div>
        </div>
</div>


<div class="container2">
    <h1> Campañas Realizadas</h1>
    <div class="campañasRealizadas">
        <div class="contenido">
            <h3>Prospera vida</h3>
            <p>
                <span class="rojo">fecha:</span> <span class="negro">22 de Octubre</span>
            </p>
            <p>
                <span class="rojo">hora:</span> <span class="negro">8:30 am / 2:30 pm</span>
            </p>
            <p>
                <span class="rojo">lugar:</span> <span class="negro">hospital del carmen</span>
            </p>
            <p>
                <span class="rojo">donantes:</span> <span class="negro">0/45</span>
            </p>
            <br>
            <p>
                <span class="negro">Lo que a ti te sobra a mi me falta</span>
            </p>
        </div>
    </div>

        <div class="campañasRealizadas">
            <div class="contenido">
            <h3>Prospera vida</h3>
            <p>
                <span class="rojo">fecha:</span> <span class="negro">22 de Octubre</span>
            </p>
            <p>
                <span class="rojo">hora:</span> <span class="negro">8:30 am / 2:30 pm</span>
            </p>
            <p>
                <span class="rojo">lugar:</span> <span class="negro">hospital del carmen</span>
            </p>
            <p>
                <span class="rojo">donantes:</span> <span class="negro">0/45</span>
            </p>
            <br>
            <p>
                <span class="negro">Lo que a ti te sobra a mi me falta</span>
            </p>
            </div>
        </div>

        <div class="campañasRealizadas">
            <div class="contenido">
                <h3>Las ganas de ayudar</h3>
                <p>
                   fecha:
                </p>
                <p>              
                   hora:
                </p>
                <p>              
                    lugar:
                </p>
                <p>              
                    donantes:
                </p>
                <br>
                <p>              
                    frase
                </p>
            </div>
        </div>
</div>


{% endblock %}