<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ver hospital</title>
    <link rel="stylesheet" href="VerHospital.css">
</head>
<body>
   <header class="header">
    <div class="logo">
       <img src="img/BancoSangre.jpeg" alt="logo del sistema" >
    </div>
    <nav>
        <ul class="nav-links">
            <li><a href="#">Mis hospitales</a>
                <ul class="submenu">
                    <li><a href="CatalogoHospitales.html">Ver hospitales</a></li>
                    <li><a href="#">Gestionar hospitales</a></li>
                </ul>
            </li>

            <li><a href="#">Mis campañas</a>
                <ul class="submenu">
                    <li><a href="#">Ver campañas</a></li>
                    <li><a href="#">Gestionar campañas</a></li>
                </ul>
            </li>
            <li><a href="#">Solicitudes</a></li>
        </ul>
    </nav>
    <div class="perfil">
        <img src="img/perfil.png" alt="perfil administrador" >
        <p>administrador</p>
       
     </div>
   </header>

   <div class="sidebar">
    <div class="image-container">
        <img src="img/Hospital2.jpg" alt="Imagen del perfil">
    </div>
   </div>

   <div class="main-content">
    <h1>Clinica Medellin Sede Occidente</h1> <br>
     <h2>Dirección:  </h2> <p>Cra 65B #30-95.  Medellin, Belén</p>
     <h2>Contacto:  </h2> <p>(604) 4446152</p>
     <h2>Horario de atención:  </h2> <p>24 horas</p> <br>

     <a href="" class="buttons">Ver disponibilidad de sangre</a>
   </div>
</body>
</html>